<a href="https://colab.research.google.com/github/RaulFloresR/Mineria_de_Datos/blob/main/Ej_Python_1838148.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Ejercicio 1:**
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [ ]:
Mat= '1838148'
name= 'Raul Flores'

print (name, Mat)

Raul Flores 1838148

#**Ejercicio 2**:
 Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [ ]:
while True:

    try:
        n1= int(input('Ingresa un primer número '))
        n2= int(input('Ingresa un segundo número '))
        print ('\nSuma ', n1+n2,
       '\n Resta', n1-n2,
        '\n Multiplicación', n1*n2,
        '\n División', n1/n2,
        '\n Exponente', n1**n2)
        break

    except ValueError:
        print ('Ese número no es válido, ingresa solo números enteros')

Ingresa un primer número 4
Ingresa un segundo número 3

Suma  7
 Resta 1
 Multiplicación 12
 División 1.3333333333333333
 Exponente 64

#**Ejercicio 3:** 
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [ ]:
i=2

lista = [3]
suma = 0

while i <= 10:
    ord_list= lista[0]
    mult= ord_list*i
    lista.append(mult)
    i += 1
print (lista)
    

for elem in lista:
    suma += elem
print ("La suma de los numeros es",suma)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
La suma de los numeros es 165

# **Ejercicio 4:** 
*   Con una función de if else, revisar si un número es par o es impar.
*   Con una función de if else, revisar si un número es primo o no.

In [35]:
while True:
    try:    
        num= int(input('Introduce un número entero: '))
        if num%2 == 0:
            print ('El número es par')
            break
        else:
            print ('El número es impar')
            break
    except ValueError:
        print ('Número inválido, intenta de nuevo')

while True:
    try:
        if num <1:
            print ('El número no es primo')
            break
        elif num == 2:
            print('El número es primo')
            break        
        else:
            for i in range (2, num):
                if num % i == 0:
                    print ('El número no es primo')
                    break            
            break
    
    except ValueError:
        print ('Número inválido, intenta de nuevo')

Introduce un número entero: 22
El número es par
El número no es primo

# **Ejercicio 5**
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [37]:
print("Escoja la operacion a realizar")
num=int(input("1.Suma  2.Resta  3.Multiplicación  4.División  5.Exponente   "))
n1=int(input("Ingresa un número  "  ))
n2=int(input("Ingresa otro número  " ))
if num==1:
    j=n1+n2
    print("La suma de los números es:  ",j)
elif num==2:
    j=n1-n2
    print("La resta de los números es:  ",j)
elif num==3:
    j=n1*n2
    print("La multiplicación de los números es:  ",j)
elif num==4:
    j=n1^n2
    print("La división de los números es:  ",j)
elif num==5:
    print(" El primer número a elevado al segundo número es: ",j)  
else:
    print("Opción incorrecta")

Escoja la operacion a realizar
1.Suma  2.Resta  3.Multiplicación  4.División  5.Exponente   3
Ingresa un número  4
Ingresa otro número  5
La multiplicación de los números es:   20

# **Tuplas**


*   Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [38]:
tupla = (4.2, 3, 1 > 0 , 6 + 7j)  
for i in range (len(tupla)): 
  print ("Valor: {} - tipo de dato: {}" .format(tupla[i], type (tupla[i])))

Valor: 4.2 - tipo de dato: <class 'float'>
Valor: 3 - tipo de dato: <class 'int'>
Valor: True - tipo de dato: <class 'bool'>
Valor: (6+7j) - tipo de dato: <class 'complex'>



*   Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [39]:
tupla = (1, 2, 3, 4 ,5)

val1= tupla[0]
ultval= tupla[len(tupla)-1] 

print ("El primer valor de la tupla es:",val1)
print ("El ultimo valor de la tupla es:", ultval)

El primer valor de la tupla es: 1
El ultimo valor de la tupla es: 5



*   Añadir 3 valores de string a la tupla.

In [43]:
tupla =(1, 2, 3, 4, 5)

print("Tupla:", tupla)

tupla = tupla + ('no se', 'que estoy haciendo','con mi vida' )

print("La nueva tupla es:", tupla)

Tupla: (1, 2, 3, 4, 5)
La nueva tupla es: (1, 2, 3, 4, 5, 'no se', 'que estoy haciendo', 'con mi vida')



*   Verificar si una variable existe dentro de la tupla.

In [45]:
tupla: (1,2,3,4,5)

print (3 in tupla)

print (67 in tupla)

True
False

# **Listas**


*   Crear una lista con 40 elementos aleatorios enteros.
*   Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.
*   Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.
*   Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.
*   Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [54]:
import random
def impar(l):
    impar=list()
    for e in l:
        if e%2!=0:
            impar.append(e)
    return impar
def par(l):
    par=list()
    for e in l:
        if e%2==0:
            par.append(e)
    return par
    
pares=list()
impares=list()
aleatorio=range(0,100)
l=random.sample(aleatorio,40)
longitud=len(l)
print("La longitud de los números es: ",longitud)
pares=par(l)
impares=impar(l)
impares.sort()
paresord=sorted(pares,reverse=True)
pares=paresord
cantidad1=len(pares)
cantidad2=len(impares)
suma=sum(l)
promedio=suma/len(l)
l.sort()
minimo=min(l)
maximo=max(l)
print("Los números pares ordenados: ",pares)
print("Los números impares ordenados: ",impares)
print("Los pares de la lista son: ",pares,"\nLos impares de la lista son: ",impares)
print("La cantidad de pares en números es: ",cantidad1,"\nLa cantidad de impares es:",cantidad2)
print("El promedio de los números es: ",promedio)
print("El menor de los números es: ",minimo)
print("El mayor de los números es: ",maximo)
print("La suma de los números es: ",suma)

La longitud de los números es:  40
Los números pares ordenados:  [98, 90, 88, 86, 80, 78, 70, 68, 64, 60, 56, 50, 48, 42, 38, 34, 32, 28, 10, 8, 6, 2]
Los números impares ordenados:  [5, 13, 15, 19, 31, 33, 37, 39, 43, 49, 59, 69, 77, 83, 87, 89, 93, 97]
Los pares de la lista son:  [98, 90, 88, 86, 80, 78, 70, 68, 64, 60, 56, 50, 48, 42, 38, 34, 32, 28, 10, 8, 6, 2]
Los impares de la lista son:  [5, 13, 15, 19, 31, 33, 37, 39, 43, 49, 59, 69, 77, 83, 87, 89, 93, 97]
La cantidad de pares en números es:  22
La cantidad de impares es: 18
El promedio de los números es:  51.85
El menor de los números es:  2
El mayor de los números es:  98
La suma de los números es:  2074

# **Diccionarios**


*   Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.
*   Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

*   Usando el diccionario y un loop, imprimir solo los nombres.Usando el diccionario y un loop, imprimir solo los nombres.
*   Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [56]:
Diccionario={'Sergio':21,'Abraham':25,'Gladys':31,'Christopher':22,'Damara':22,'Michelle':27}
edades=list()
print("Cada una de las personas con sus edades: ",Diccionario)
for e in Diccionario:
    edades.append(Diccionario[e])
edades.sort()
print("Las edades de menor a mayor son",edades)
print("Los nombres de las personas son: ")
nombres=Diccionario.keys() 
for nombre in nombres:
    print(nombre)
Diccionario['Carlos']=28
Diccionario['Raul']=23
print("El nuevo diccionario es: ",Diccionario)

Cada una de las personas con sus edades:  {'Sergio': 21, 'Abraham': 25, 'Gladys': 31, 'Christopher': 22, 'Damara': 22, 'Michelle': 27}
Las edades de menor a mayor son [21, 22, 22, 25, 27, 31]
Los nombres de las personas son:
Sergio
Abraham
Gladys
Christopher
Damara
Michelle
El nuevo diccionario es:  {'Sergio': 21, 'Abraham': 25, 'Gladys': 31, 'Christopher': 22, 'Damara': 22, 'Michelle': 27, 'Carlos': 28, 'Raul': 23}

# **Sets**


*   Crea un set con 100 numeros aleatorios enteros del 1 al 25.
*   Comprueba la longitud de tu set.
*   Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [121]:
import random
set1=set()
long=list()
for i in range(0,100):
    elemento=random.randint(1,25)
    set1.add(elemento)    
longitud=len(set1)
print('La longitud del set es de: ',longitud)
print('El set es: ',set1)
for i in range(0,5):
    elemtis=random.randint(1,10)
    long.append(elemtis)
print('La lista aleatoria es: ',long)

for i in long:
    if i in set1:
        print('El número',i,'si esta en el set')
    else:
        print('El número',i, 'no esta en el set')

La longitud del set es de:  22
El set es:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25}
La lista aleatoria es:  [9, 10, 5, 7, 9]
El número 9 si esta en el set
El número 10 no esta en el set
El número 5 si esta en el set
El número 7 si esta en el set
El número 9 si esta en el set